:root {
	--main-color: #1af7fb;
	--blue-sec-color: #243dc8;
	--bg-color: #1c2128;
}
body {
	background-color: var(--bg-color);
}
* {
	font-family: 'Montserrat', 'sans-serif';
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

fieldset legend {
	padding-top: 30px;
	color: #fff;
}

.dados_formulario {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 50px 0 50px;
	padding: 20px 0 0 0;
}
.form {
	margin-top: 40px;
}
fieldset {
	border: 3px solid var(--bg-color);
	border-radius: 10px;
	background-color: var(--bg-color);
	margin: 0px 100px 0 100px;
	max-width: 100%;
}

.dados_pessoais {
	background-color: #e9e9e9;
	padding: 40px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	height: 800px;
	width: 500px;
	border-radius: 20px;
}

.dados_pessoais input {
	outline: 0;
	padding: 8px;
	font-size: 15px;
	border: 1px solid black;
	background-color: #eee;
	border-radius: 5px;
	display: block;
	width: 100%;
}

.dados_pessoais input::placeholder {
	font-size: 14px;
	font-style: italic;
}

.dados_pessoais h1 {
	text-align: center;
	margin: 20px;
	margin-top: 10px;
}

.buttons {
	display: block;
	text-align: center;
	bottom: 1px;
	position: relative;
	top: 19px;
	right: 25px;
}

.buttons [type="reset"],
[type="submit"] {
	cursor: pointer;
	margin-top: 10px;
	padding: 18px;
	background-color: var(--main-color);
	border: none;
	font-weight: 500;
	border-radius: 6px;
	font-size: 15px;
	margin-left: 20px;
	color: #000;
}

.buttons [type="submit"]:hover {
	padding: 18.5px;
	background-color: var(--main-color);

}

.buttons [type="reset"] {
	background-color: orange;
}
.buttons [type="reset"]:hover {
	padding: 18.5px;
	background-color: rgb(225, 146, 0);
}

.form-control{
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-control label{
	display: inline-block;
	margin-bottom: 5px;
	color: #000000
}

.form-control.success input {
    border: 3px solid #4ECA64;
}

.form-control.error input {
    border: 3px solid #DB5A5A;
}

.form-control.error i .img-error {
    visibility: visible;
}

.form-control.success i .img-success {
    visibility: visible;
}

.form-control.error small{
    color: #DB5A5A;
    visibility: visible;
}

.form-control i {
    position: absolute;
    top: 30px;
    right: 10px;
    visibility: hidden;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 14px;

}

.error_msg {
	position: relative;
	top: 20px;
	font-size: 17px;	
	left: 12px;
}
.wrong {
	color: red;
}

.success_msg {
	color: #000;
	font-size: 19px;
}

.container_segPosicao{
	background-color: #e9e9e9;
	padding: 45px;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	height: 800px;
	width: 500px;
	border-radius: 20px;
}

.form-control input::placeholder {
	font-size: 14px;
	font-style: italic;
}

.container_segPosicao h1 {
	text-align: center;
	font-size: 27px;
	margin: 20px;
	margin-top: 10px;
}

.container_segPosicao input {
	outline: 0;
	padding: 8px;
	font-size: 15px;
	border: 1px solid black;
	background-color: #eee;
	border-radius: 5px;
	display: block;
	width: 100%;
}