<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/homepage.css">
    <link rel="stylesheet" href="../styles/offers.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../assets/logo_domain-removebg-preview.png">
    <script src="https://kit.fontawesome.com/a9f11940bf.js" crossorigin="anonymous"></script>
    <title>ACADEMIA | Planos</title>
</head>

<body>
    <div class="container_session">
        <nav class="navbar_main">
            <div class="pic_brand"></div>
            <span class="logo"></span>
            <ul>
                <li><a href="./index.hmtl">Home</a></li>
                <li><a href="#">Espaço do Cliente</a></li>
                <li><a href="./form.html">Junte-se a nós</a></li>
                <li><a href="#">Agendamento</a></li>
                <li><a href="./planos.html">Planos</a></li>
            </ul>
        </nav>

        <section class="container_offers">

            <span style="color: white;" class="title_cont_offer">CONHEÇA NOSSOS PLANOS E APROVEITE!</span>

            <div class="grid_offers">
                <div class="offer_item annual_offer">
                    <h4 class="title_annual">Anual</h4>

                    <div class="value_offer">
                        <span class="symbol">R$</span>
                        <span class="price">1.099</span>
                        <span class="year">/ ano</span>
                    </div>

                    <ul class="items_include">
                        <li><i class="fa-solid fa-check icon-color"></i> Área de musculação e aeróbicos</li>
                        <li><i class="fa-solid fa-check icon-color"></i> Ginástica</li>
                        <li><i class="fa-solid fa-check icon-color"></i> Spinning</li>
                        <li><i class="fa-solid fa-check icon-color"></i> Avaliações mensais</li>
                        <li><i class="fa-solid fa-xmark icon-color"></i> Fitdance</li>
                        <li><i class="fa-solid fa-xmark icon-color"></i> Acesso ilimitado a academias da
                            rede</li>
                        <li><i class="fa-solid fa-xmark icon-color"></i> Academia(nome) App</li>
                    </ul>
                </div>

                <div class="offer_item black_offer">
                    <span class="recommend">Recomendado</span>
                    <h4 class="title_black">Black</h4>


                    <div class="value_offer">
                        <span class="symbol">R$</span>
                        <span class="price">105.98</span>
                        <span class="year">/ mês</span>
                    </div>

                    <ul class="items_include">
                        <li><i class="fa-solid fa-check icon-color"></i> Área de musculação e aeróbicos</li>
                        <li><i class="fa-solid fa-check icon-color"></i> Ginástica</li>
                        <li><i class="fa-solid fa-check icon-color"></i> Spinning</li>
                        <li><i class="fa-solid fa-check icon-color"></i> Avaliações mensais</li>
                        <li><i class="fa-solid fa-check icon-color"></i> Academia(nome) App</li>
                        <li><i class="fa-solid fa-check icon-color"></i> Fitdance</li>
                        <li><i class="fa-solid fa-check icon-color"></i> Acesso ilimitado a academias da rede</li>

                    </ul>

                </div>

                <div class="offer_item monthly_offer">
                    <h4 class="title_monthly">Mensal</h4>

                    <div class="value_offer">
                        <span class="symbol">R$</span>
                        <span class="price">99.98</span>
                        <span class="year">/ mês</span>
                    </div>

                    <ul class="items_include">
                        <li class="on"><i class="fa-solid fa-check icon-color"></i> Área de musculação e aeróbicos</li>
                        <li class="on"><i class="fa-solid fa-check icon-color"></i> Ginástica</li>
                        <li class="on"><i class="fa-solid fa-check icon-color"></i> Spinning</li>
                        <li class="on"><i class="fa-solid fa-check icon-color"></i> Avaliações mensais</li>
                        <li class="off"><i class="fa-solid fa-check icon-color"></i> Fitdance</li>
                        <li class="off"><i class="fa-solid fa-xmark icon-color"></i> Acesso ilimitado a academias da
                            rede</li>
                        <li class="off"><i class="fa-solid fa-xmark icon-color"></i> Academia(nome) App</li>
                    </ul>
                </div>

            </div>


        </section>

        <footer>
            <div class="cadastro_ref">
                <h5>Clique no link e faça parte!</h5>
                <a href="./form.php">Cadastre-se</a>
            </div>
            <div class="informacoes">
                <h5>Informações</h5>
                <ul>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Política de Privacidade</a></li>
                    <li><a href="#">Termos e estatutos</a></li>
                </ul>
            </div>
            <div class="contato">
                <h5>Contato</h5>
                <div class="contato_icons">
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://github.com/gustavops02/college-gym" target="_blank"><i
                            class="fa-brands fa-github"></i></a>

                </div>
            </div>

        </footer>


    </div>



    <script src="../scripts/offers.js"></script>
</body>

</html>